<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#ffffff">
		<meta name="description" content="creation site internet pas cher">
		<meta name="keywords" content="site / application pas cher">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="favicons/browserconfig.xml">
		<title>
			{% block title %}Wee portfolio
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="http://nversios.com/assets/bootstrap.css">
			<link rel="stylesheet" href="http://nversios.com/assets/all.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<header id="header">
		<div class="container">
			<div class="logo">
				<a href="{{ path('index')}}"><img src="images/logo.png" alt="nversios"></a>
			</div>
			<nav id="nav">
				<div class="opener-holder">
					<a href="#" class="nav-opener">
						<span></span>
					</a>
				</div>

				{% if is_granted('ROLE_USER') %}
					<a href="{{ path('app_profil')}}" class="btn btn-info rounded">Profile</a>
				{% elseif is_granted('ROLE_ADMIN') %}
					<a href="#" class="btn btn-danger rounded">Admin</a>
				{% else %}
					<a href="{{ path('app_login')}}" class="btn btn-primary rounded">Espace Membre</a>
				{% endif %}
				{% if app.user == false %}
					<div class="nav-drop">
						<ul>
							<li class="active visible-sm visible-xs">
								<a href="{{path('index')}}">Accueil</a>
							</li>
							<li>
								<a href="#about">À propos</a>
							</li>
							<li>
								<a href="#services">Mes compétences</a>
							</li>
							<li>
								<a href="#projects">Catalogues</a>
							</li>
							<li>
								<a href="#contacts">Contact</a>
							</li>
						</ul>
						<div class="drop-holder visible-sm visible-xs">
							<span>Suivez moi</span>
							<ul class="social-networks">
								<li>
									<a href="https://github.com/belbeche">
										<i class="fab fa-github"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/in/walid-belbeche/">
										<i class="fab fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/waloup.elyana.5/">
										<i class="fab fa-facebook-square"></i>
									</a>
								</li>
							</ul>
						</div>
					{% else %}
						<div class="nav-drop">
							<ul>
								<li class="active visible-sm visible-xs">
									<a href="{{path('index')}}">Accueil</a>
								</li>
								<li>
									<a href="#about">À propos</a>
								</li>
								<li>
									<a href="#services">Mes compétences</a>
								</li>
								<li>
									<a href="#projects">Catalogues</a>
								</li>
								<li>
									<a href="#contacts">Contact</a>
								</li>
							</ul>
							<div class="drop-holder visible-sm visible-xs">
								<span>Suivez moi</span>
								<ul class="social-networks">
									<li>
										<a href="https://github.com/belbeche">
											<i class="fab fa-github"></i>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/walid-belbeche/">
											<i class="fab fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://www.facebook.com/waloup.elyana.5/">
											<i class="fab fa-facebook-square"></i>
										</a>
									</li>
								</ul>
							</div>
						{% endif %}
					</div>
				</nav>

			</div>
		</header>
		<body>
			{% block body %}
				<div id="wrapper"></div>
			{% endblock %}
			<!-- FOOTER -->

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
				<script src="http://nversios.com/assets/js/jquery-1.11.2.min.js"></script>
				<script src="http://nversios.com/assets/js/bootstrap.js"></script>
				<script src="http://nversios.com/assets/js/jquery.main.js"></script>
				<script src="https://kit.fontawesome.com/e73a7a7bd1.js" crossorigin="anonymous"></script>
			{% endblock %}
		</body>
	</html>
</html>
